<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">My Blog</a>
</nav>

<!-- As a heading -->
<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Blog</h1>
</nav>